a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #2551b0;
}

body {
    background-image: url(images/wk-nov-4-bcgrd.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    color: black;
    text-align: center;
}

#headblock {
    margin:auto;
    background-color: rgba(255,255,255,.55);
    border-radius: 10px;
    box-shadow: 0 0 20px black;
    width: 70%;
}

h1 {
    color: black;
    font-family: 'Lora', sans-serif; 
    font-weight: bold;
    padding-top: 2%;
}

h3 {
    color: black;
    font-family: 'Lora', sans-serif;
    font-weight: bold; 
    padding-bottom: 2%;
}


table {
    background-color: rgba(255,255,255,.55);
    border-collapse: separate;
    border-radius: 2%;
    border-spacing: 10px;
    box-shadow: 0 0 20px black;
    font-weight: bold;
    justify-content: center;
    margin: auto;
}

.table-responsive {
    border: none;
}

#tablediv {
    margin: auto;
}

td {
    border-radius: 2%;
    padding: 7px;
}

th {
    text-align: center;
}

thead {
    font-size: 1.3em; 
    text-decoration: underline;
}
